:root {
  --title-font-stack: "Victor Mono", serif;
  --font-stack: Inter, serif;

  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: var(--font-stack);
  font-weight: 400;
  line-height: 1.5;

  text-align: center;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 { font-family: var(--title-font-stack); }

button {
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  border: 0;
  outline: 0;
}
