:root {
  --title-font-stack: "Victor Mono", serif;
  --font-stack: Inter, serif;

  --accent-color: #FF934F;
  --text-on-accent-color: rgba(255, 255, 255, .87);

  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: var(--font-stack);
  font-weight: 400;
  line-height: 1.5;

  text-align: center;

  color-scheme: light dark;
}

html {
  --bg-color: #242424;
  --text-color: rgba(255, 255, 255, .87);
  --muted-text-color: rgba(255, 255, 255, .4);

  --primary-color: #505050;
  --text-on-primary-color: var(--text-color);

  --border-color: var(--primary-color);

  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.light {
  --bg-color: #fff;
  --text-color: rgba(0, 0, 0, .87);
  --muted-text-color: rgba(0, 0, 0, .6);

  --primary-color: #102e4a;
  --text-on-primary-color: rgba(255, 255, 255, .87);

  --border-color: var(--muted-text-color);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 { font-family: var(--title-font-stack); }

button {
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  border: 0;
  outline: 0;
}

/* @media (prefers-color-scheme: light) {} */
