:root {
  --accent-color: #ff934f;
  --text-on-accent-color: rgba(255, 255, 255, .87);
  --success-color: #0d9e0d;
  --error-color: #da0909;

  --font-stack-sans: Inter, system-ui, sans-serif;
  --font-stack-mono: "Victor Mono", monospace;

  --font-2xs: .65rem;
  --font-xs: .75rem;
  --font-sm: .875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2.25rem;
  --font-5xl: 3rem;

  --spacing-3xs: .15rem;
  --spacing-2xs: .25rem;
  --spacing-xs: .5rem;
  --spacing-sm: .75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 2.5rem;
  --spacing-3xl: 3rem;

  font-family: var(--font-stack-sans);
  font-weight: 400;
  line-height: 1.5;
  text-align: center;

  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
}

html {
  --bg-color: #242424;
  --text-color: rgba(255, 255, 255, .87);
  --muted-text-color: rgba(255, 255, 255, .4);
  --primary-color: #505050;
  --text-on-primary-color: var(--text-color);
  --border-color: var(--primary-color);

  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.light {
  --bg-color: #fff;
  --text-color: rgba(0, 0, 0, .87);
  --muted-text-color: rgba(0, 0, 0, .6);
  --primary-color: #102e4a;
  --text-on-primary-color: rgba(255, 255, 255, .87);
  --border-color: var(--muted-text-color);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 { font-family: var(--font-stack-mono); }
