:root {
  --accent-color: #ff934f;
  --text-on-accent-color: rgba(255, 255, 255, .87);

  --success-color: #0d9e0d;
  --error-color: #da0909;

  --border-color: var(--primary-color);

  --tech-tag-bg-color: #eef6ff;
  --tech-tag-text-color: #0070f3;

  --font-stack-sans: Inter, system-ui, sans-serif;
  --font-stack-mono: "Victor Mono", monospace;

  --font-2xs: .65rem;
  --font-xs: .75rem;
  --font-sm: .875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2.25rem;
  --font-5xl: 2.5rem;

  --spacing-3xs: .15rem;
  --spacing-2xs: .25rem;
  --spacing-xs: .5rem;
  --spacing-sm: .75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 2.5rem;
  --spacing-3xl: 3rem;
  --spacing-4xl: 6rem;

  font-family: var(--font-stack-sans);
  font-weight: 400;
  line-height: 1.5;
  text-align: center;

  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
}

html {
  --bg-color: #242424;
  --text-color: rgba(255, 255, 255, .87);
  --muted-text-color: rgba(255, 255, 255, .4);

  --primary-color: #505050;
  --primary-color-dark: color-mix(in srgb, var(--primary-color) 80%, black);
  --text-on-primary-color: var(--text-color);
  --muted-text-on-primary-color: var(--muted-text-color);

  --header-bg-color: var(--bg-color);
  --header-text-color: var(--text-color);

  --contact-form-bg-color: var(--primary-color);
  --contact-form-text-color: var(--text-on-primary-color);

  --contact-form-field-bg-color: #3b3b3b;
  --contact-form-field-text-color: var(--text-color);

  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.light {
  --bg-color: #fff;
  --text-color: rgba(0, 0, 0, .87);
  --muted-text-color: rgba(0, 0, 0, .6);

  --primary-color: #102e4a;
  --primary-color-light: color-mix(in srgb, var(--primary-color) 85%, #fff);
  --text-on-primary-color: rgba(255, 255, 255, .87);
  --muted-text-on-primary-color: rgba(255, 255, 255, .4);

  --header-bg-color: var(--primary-color);
  --header-text-color: var(--text-on-primary-color);

  --contact-form-bg-color: #fff;
  --contact-form-text-color: var(--primary-color);

  --contact-form-field-bg-color: #fff;
  --contact-form-field-text-color: var(--text-color);
}

*, *::before, *::after { box-sizing: border-box; padding: 0; margin: 0; }

a { text-decoration: none; color: inherit; }

ul { list-style: none; }

h1, h2, h3, h4, h5, h6 { font-family: var(--font-stack-mono); }
